@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased;
  }
}

@layer utilities {
  .delay-700 {
    animation-delay: 700ms;
  }

  .animate-blink {
    animation: blink 1s step-end infinite;
  }

  @keyframes blink {
    0%, 50% {
      opacity: 1;
    }
    51%, 100% {
      opacity: 0;
    }
  }
}
